<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
  Твоє завдання в цій місії — скоротити речення до довжини, яка не перевищує
   задану кількість символів.
</p>

<p>
  Якщо дане речення вже досить коротке, тобі не потрібно нічого з ним робити. Але
   якщо його потрібно скоротити, скорочену частину має бути позначено як
   «...».
</p>

<p>
  Скорочене речення може містити повні слова та пробіли.<br>
   Воно не повинне містити ні скорочених слів, ні пробілів у кінці.<br>
   («...») це було враховано для дозволеної кількості символів, тому воно
   не зараховується до заданої довжини.
</p>

<p style="text-align: center;">
  <img  title="example" src="{{MEDIA}}cut-sentence.png" alt="example" style="max-height: 200px"/>
</p>

<p>
  <strong>Вхідні дані:</strong> Два аргументи:
  <ul>
    <li>однорядкове речення у вигляді рядка;</li>
    <li>максимальна довжина скороченого речення у вигляді цілого числа.</li>
  </ul>
</p>

<p>
  <strong>Вихідні дані:</strong> Скорочене, однорядкове речення плюс крапки (якщо потрібно).
</p>

<div class="for_info_only">
  <p>
      <strong>Приклади:</strong>
  </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
  <strong>Передумова:</strong><br>
  {% if interpreter.slug == "js-node" %}
  <ul>
    <li>line.startsWith(' ') === false</li>
    <li>0 < line.length ≤ 79</li>
    <li>0 < length ≤ 76</li>
    <li>all chars in line are English Letters and/or spaces</li>
  </ul>
  {% else %}
  <ul>
    <li>line.startswith(' ') == False</li>
    <li>0 < len(line) ≤ 79</li>
    <li>0 < length ≤ 76</li>
    <li>all(char in string.ascii_letters + ' ' for char in line)</li>
  </ul>
  {% endif %}
</p>
